USE [master]
GO
/****** Object:  Database [OfficeCanteenDB]    Script Date: 22/05/2025 05:07:58 PM ******/
CREATE DATABASE [OfficeCanteenDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OfficeCanteenDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OfficeCanteenDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OfficeCanteenDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OfficeCanteenDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OfficeCanteenDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OfficeCanteenDB]
GO
/****** Object:  Table [dbo].[FoodOrders]    Script Date: 22/05/2025 05:07:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[OrderedAt] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FoodOrders] ADD  DEFAULT (getdate()) FOR [OrderedAt]
GO
ALTER TABLE [dbo].[FoodOrders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[FoodOrders]  WITH CHECK ADD CHECK  (([Quantity]>=(1)))
GO
USE [master]
GO
